@media (max-width: 768px) {

  .soil-layer {
    min-height: 125px;

    padding: 24px 16px;
  }


  .footer-content h2 {
    font-size: 22px;
  }


  .footer-content p {
    font-size: 14px;
  }


  .footer-copyright {
    font-size: 12px;
  }


  .mixed-layer {
    height: 70px;
  }


  .rock-layer {
    height: 85px;
  }

}